!inst/extdata/download.sh
inst/extdata/*
data/
data-raw/*/*/*.bed
data-raw/*/*.bed
data-raw/*/*.bed.bz2
data-raw/*/*.bed.gz
data-raw/*/*/*.bed.gz
data-raw/*/*.out
data-raw/*/*/*.RData
data-raw/*/*.rda
data-raw/*/*.txt
data-raw/*/*/*.csv
data-raw/*/*.pdf
data-raw/*/*.fasta
.RData
.Rbuildignore
.Rhistory
*.Rproj
.Rproj.user/
*.swp
