!inst/extdata/download.sh
inst/extdata/*
.RData
.Rhistory
*.Rproj
.Rproj.user/
*.swp
inst/analysis/*.rda
inst/analysis/*/*.rda
inst/analysis/*/*/*.rda
inst/analysis/.*csv
inst/analysis/*/*.csv
inst/analysis/*/*/*.csv
